<!-- <link rel="stylesheet" type="text/css" href="employees.component.css"> -->

<div class="testbox">
  <form [formGroup]="employeeFormGroup" (ngSubmit)="onSubmit()">
    <fieldset>
      <legend>Employee Main Data</legend>
      <div class="colums">
        <div class="item">
          <label for="code">Employee Code</label>
          <input id="code" type="number" formControlName="code" name="code" />
        </div>
        <div class="item">
          <label for="name">Employee Name</label>
          <input id="name" type="text" formControlName="name"  name="name" />
        </div>
        <div class="item">
          <label for="birthDate">Birth Date</label>
          <input id="birthDate" type="date" formControlName="birthDate" name="birthDate"/>
        </div>
        <div class="item">
          <label for="birthCity">Birth City</label>
          <div class="title-block">
            <select formControlName="birthCity">
              <option value="" disabled selected>select</option>
              <option value="Cairo">Cairo</option>
              <!-- <option *ngFor="let employee of employees" [ngValue]="employee.birthCity">{{employee.birthCity}}</option> -->
            </select>
          </div>
        </div>
        <div class="item">
          <label for="id">Employee ID</label>
          <input id="id" type="number" name="id" />
        </div>
        <div class="item">
          <label for="department">Department</label>
          <div class="title-block">
            <select formControlName="department">
              <option value="" disabled selected>select</option>
              <option value="UI/UX Developer">UI/UX Developer</option>
              <!-- <option *ngFor="let employee of employees" [ngValue]="employee.department">{{employee.department}}</option> -->
            </select>
          </div>
        </div>
        <div class="item">
          <label for="jobTitle">Job Title</label>
          <input id="jobTitle" type="text" formControlName="jobTitle" name="jobTitle" />
        </div>
        <div class="item">
          <label for="directManager">Direct Manager</label>
          <input id="directManager" type="text" formControlName="directManager" name="directManager" />
        </div>
        <div class="item">
          <label for="contractType">Contract Type</label>
          <div class="title-block">
            <select formControlName="contractType">
              <option value="" disabled selected>select</option>
              <option value="Full Time">Full time</option>
              <option value="Part Time">Part time</option>
              <!-- <option *ngFor="let employee of employees" [ngValue]="employee.contractType">{{employee.contractType}}</option> -->
            </select>
          </div>
        </div>
        <div class="item">
          <label for="status">Status</label>
          <div class="title-block">
            <select formControlName="status">
              <option value="" disabled selected>select</option>
              <option value="true">Available</option>
              <option value="false">Unavailable</option>
              <!-- <option *ngFor="let employee of employees" [ngValue]="employee.status">{{employee.status}}</option> -->
            </select>
          </div>
        </div>
        <div class="btn-block">
          <button type="submit">View</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>

<div class="row">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Employee Code</th>
        <th scope="col">Employee Name</th>
        <th scope="col">Birth Date</th>
        <th scope="col">Birth City</th>
        <th scope="col">Employee Id</th>
		    <th scope="col">Department</th>
        <th scope="col">Job Title</th>
		    <th scope="col">Direct Manager</th>
        <th scope="col">Contract Type</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of employees">
       <th>{{item.code}}</th>
	     <td>{{item.name}}</td>
       <td>{{item.birthDate}}</td>
       <td>{{item.birthCity}}</td>
       <td>{{item.id}}</td>
       <td>{{item.department}}</td>
       <td>{{item.jobTitle}}</td>
       <td>{{item.directManager}}</td>
       <td>{{item.contractType}}</td>
       <td>{{item.status}}</td>
      </tr>
    </tbody>
  </table>
</div>
